@import './mixin.scss';
%h3{
    @include font(50px, #14183E, 'Lucida Sans');
    line-height: 67px;
    font-weight: bold;
    width:50%;
    margin:0 auto;
    margin-bottom: 68px;
    text-align: center;
}
%section{
    width:1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position:relative;
}
%section-span{
    width:100%;
    margin:0 auto;
    @include font(18px, #5E6282, 'Arial');
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 10px;
}